/*
Theme Name: Entrance
Theme URI: http://gawibowo.com/themes/entrance
Description: Responsive Magazine/Blog WordPress theme
Version: 1.5
Author: gawibowo
Author URI: http://gawibowo.com/
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/

/* =Base Styles
-----------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700');
body {
	background: #eee;
	color: #333;
	font-family: 'Maven Pro', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	overflow-x: hidden;
}
a {
	color: #e74c3c;
	text-decoration: none;
	outline: 0;
	transition: all 0.1s linear 0s;
}
a:hover {
	color: #666;
	text-decoration: none;
}
a:focus {
	text-decoration: none;
}
a > img {
	vertical-align: bottom;
}
img {
	max-width: 100%;
	height: auto;
}
p {
	margin: 0 0 20px;
}
p:last-child {
	margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Maven Pro', sans-serif;
	line-height: 1.5;
	margin: 0 0 20px;
}
code {
	white-space: normal;
}
table {
	width: 100%;
	margin-bottom: 20px;
}
tr.alternate {
	background-color: #fafafa;
}
th {
	text-align: left;
	font-weight: bold;
}
th, td {
	border-bottom: 1px solid #eee;
	padding: 5px 0;
}
blockquote,
blockquote p {
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 16px;
	line-height: 1.6;
	color: #777;
}
blockquote cite {
	display: block;
	margin-top: 10px;
	font-weight: normal;
	font-size: 11px;
	color: #555;
}

label, legend {
	display: block;
	font-size: 13px;
	font-weight: bold;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
/*	font: 13px/22px 'Open Sans', Arial, sans-serif;*/
	border: 1px solid #ddd;
	padding: 5px;
	font-size: 13px;
	color: #666;
	max-width: 100%;
	font-weight: 500;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	background-color: #fafafa;
	box-shadow: none;
	outline: none;
}
fieldset {
	border: 1px solid #eee;
	padding: 20px;
}
ul, ol {
	margin: 0 0 20px;
}
li {
	line-height: 24px;
}
dt {
	margin-bottom: 6px;
}

.alignleft {
	display: inline;
	float: left;
	margin: 0 20px 20px 0;
}
.alignright {
	display: inline;
	float: right;
	margin: 0 0 20px 20px;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto 20px;
}
.wp-caption {
	margin-bottom: 25px;
	text-align: center;
	padding: 10px;
	border: 1px solid #eee;
	background: #fcfcfc;
	max-width: 100%;
}
.wp-caption-text {
	font-size: 11px;
	color: #888;
	margin: 10px 0;
}
.sticky {
}
::-webkit-input-placeholder {
	color: #999;
}
:-moz-placeholder {
	color: #999;
}
::-moz-placeholder {
	color: #999;
}
:-ms-input-placeholder {
	color: #999;
}


/* =Clearing
-----------------------------------*/

.container:before,
.container:after,
.row:before,
.row:after,
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.container:after,
.row:after,
.clearfix:after {
	clear: both;
}
.clear {
	clear: both;
	display: table;
}


/* =Layout
-----------------------------------*/

#wrapper {
	background-color: #fff;
	padding-top: 40px;
	margin: 0 auto;
}
.boxed #wrapper {
	margin: 40px auto;
}
body.custom-background.stretched {
	background: none;
}
#top {
	text-align: center;
	margin: 30px 0;
}
#site-title {
	font-size: 36px;
	line-height: 1.5;
	margin: 0 0 10px;
	font-weight: bold;
}
#logo {
	margin: 0;
	line-height: 30px;
}
#site-title a {
	color: #555;
}
#site-description {
	font-size: 13px;
	color: #bbb;
	margin: 0;
}
#footer-area {
	margin-top: 60px;
}
#footer-widget {
	background-color: #f9f9f9;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 13px;
	border-top: 1px solid #eee;
}
#footer-widget .textwidget {
	margin-right: 1px;
}
#bottom {
	color: #888;
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 13px;
	border-top: 1px solid #eee;
}
#bottom .footer2 {
	text-align: right;
}


/* =Menu
-----------------------------------*/

/*#mainnav {
	margin-bottom: 30px;
	text-align: center;
}
#mainmenu {
	display: inline-block;
	margin: 0;
	padding: 0;
}
#mainmenu, #mainmenu ul {
	list-style: none;
}
#mainmenu ul {
	text-align: left;
}
#mainmenu li {
	position: relative;
	margin: 0;
}
#mainmenu > li {
	float: left;
	margin: 0 10px 10px 0;
}
#mainmenu li a {
	display: block;
	padding: 0 20px;
}
#mainmenu > li > a {
	color: #999;
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
}
#mainmenu > li:hover > a {
	color: #fff;
	!*background-color: #e74c3c;*!
	border-bottom: 1px solid black;
}
#mainmenu > li.current-menu-item > a,
#mainmenu > li.current_page_item > a,
#mainmenu > li.current-menu-ancestor > a,
#mainmenu > li.current_page_ancestor > a {
	!*color: #fff;
	background-color: #e74c3c;*!
	border-bottom: 3px solid #e74c3c;
}
#mainmenu ul li.current-menu-item > a {
	color: #fff;
	!*background-color: rgba(0, 0, 0, 0.1);*!
}
#mainmenu ul a {
	padding: 5px 25px 5px 20px;
	color: #fff;
}
#mainmenu ul {
	margin: 0;
	display: none;
	position: absolute;
	font-size: 13px;
	top: 40px;
	z-index: 999;
	width: 222px;
	padding: 10px 0;
	!*background: #e74c3c;*!
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}
#mainmenu ul ul {
	top: 0;
	left: 222px;
	padding: 0;
}
#mainmenu li:hover > ul {
	display: block;
}
#mainmenu ul li:hover > a {
	!*color: #fff;*!
	background-color: rgba(0, 0, 0, 0.2);
}
#mainmenu i.fa {
	margin-left: 8px;
}
#mainmenu ul i.fa {
	position: absolute;
	right: 20px;
	top: 11px;
}
.mainmenu {
	display: none;
	padding: 5px;
	font-size: 16px;
}*/


/* =Featured
-----------------------------------*/

.flexslider {
	margin: 0 0 100px;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
.flex-direction-nav a {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-shadow: none;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
	color: #fff;
}
.flex-direction-nav a:before {
	text-shadow: none;
	color: inherit;
}
.flex-direction-nav .flex-prev,
.flexslider:hover .flex-direction-nav .flex-prev {
	left: 20px;
}
.flex-direction-nav .flex-next,
.flexslider:hover .flex-direction-nav .flex-next {
	right: 20px;
}
.flex-direction-nav a:before {
	font-size: 30px;
}
.flex-control-nav {
	bottom: -50px;
}
.flex-control-paging li a {
	width: 10px;
	height: 10px;
	background: rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
.flex-control-paging li a:hover {
	background: rgba(0, 0, 0, 0.3);
}
.flex-control-paging li a.flex-active {
	background: #e74c3c;
}
@media screen and (max-width: 860px) {
	.flex-direction-nav .flex-prev {
		left: 20px;
	}
	.flex-direction-nav .flex-next {
		right: 20px;
	}
}
.flex-viewport {
	direction: ltr;
}

.row.featured {
	margin-left: 0;
	margin-right: 0;
}
.featured {
	margin-bottom: 80px;
}
.featured .post {
	position: relative;
	overflow: hidden;
}
.row.featured .post {
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0;
}
.featured a {
	color: #fff;
}
.featured header {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
	padding: 10px 10px 5px;
}
#wrapper .featured header a:hover {
	color: #fff;
}
.featured h2 {
	margin: 0;
	font-size: 14px;
}
.featured .entry-category a {
	color: #fff;
	font-size: 12px;
	background-color: #e74c3c;
	opacity: 0.95;
	padding: 3px 6px;
}
.featured .post:first-child .entry-category a {
	padding: 4px 7px;
	font-size: 13px;
}
.row.featured .post:first-child header,
.flexslider header {
	padding: 20px 20px 10px;
}
.row.featured .post:first-child h2 {
	font-size: 20px;
	font-weight: 600;
}
.row.featured .post h2 {
	margin-top: 10px;
}
.featured img {
	transition: all 1s ease 0s;
	width: 100%;
}
.row.featured .post > a:hover img {
	opacity: 0.9;
}

.flexslider .post h2 {
	font-size: 28px;
	font-weight: 600;
	margin: 10px 0 10px;
}


/* =Breadcrumb
-----------------------------------*/

.breadcrumb {
	font-size: 12px;
	margin-bottom: 30px;
	color: #888;
}
.breadcrumb-lead {
	color: #bbb;
	margin-right: 3px;
}
.breadcrumb a {
	margin: 0 2px;
}
.breadcrumb span {
	color: #999;
	margin: 0 2px;
}


/* =Single Post
----------------------------------------------- */

.single h1.entry-title,
.page h1.entry-title {
	margin-bottom: 0;
	font-size: 40px;
	line-height: 1.2;
	font-weight: 300;
}
.single header .entry-image,
.page header .entry-image {
	margin-bottom: 20px;
}
.single .entry-content,
.page .entry-content {
	margin-top: 30px;
}
.single .entry-category a:before {
	display: inline-block;
	font-family: FontAwesome;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 14px;
	content: "\f115";
	margin-right: 3px;
}
.single .entry-meta {
	margin-top: 10px;
}
.next-prev {
	color: #bbb;
	font-size: 16px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding: 20px 0;
	text-align: center;
	margin-top: 40px;
}
.next-prev > div {
	padding: 0 20px;
}
.next-prev > div > div {
	font-size: 11px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.next-prev a {
	color: #777;
	font-size: 20px;
	line-height: 1.3;
}
.next-prev a:hover {
	color: #e74c3c;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-previous .fa {
	margin-right: 10px;
}
.nav-next {
	float: right;
	width: 50%;
}
.nav-next .fa {
	margin-left: 10px;
}
.single .entry-footer {
	margin-top: 40px;
}

.tags {
	font: 11px Georgia, serif;
	color: #999;
	font-style: italic;
	margin-bottom: 20px;
}
.norelated {
	color: #999;
}
.author-info {
	margin-top: 60px;
}
.author-info .avatar {
	margin-right: 15px;
}
.author-link h4 {
	margin-bottom: 2px;
	line-height: 20px;
}
.author-link h4,
.author-link h4 a {
	font-weight: bold;
	font-size: 15px;
	color: #555;
}
.author-info .author-link > a {
	color: #aaa;
	font-size: 11px;
}
.author-link a:hover {
	color: #e74c3c;
}
.author-description {
	margin-top: 10px;
	color: #888;
	font-size: 13px;
}
.author-description h2 {
	margin-bottom: 5px;
	font-size: 15px;
	line-height: 20px;
	font-weight: bold;
}
.author-website {
	margin-top: 12px;
}
.author-website a {
	font-size: 13px;
}
.author-website i {
	font-size: 10px;
	margin-right: 3px;
}
.author-info .widget_g7_social,
.archive-meta .widget_g7_social {
	margin-top: 14px;
}
.author-info .widget_g7_social ul,
.archive-meta .widget_g7_social ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.author-info .widget_g7_social i.fa,
.archive-meta .widget_g7_social i.fa {
	font-size: 14px;
	width: 14px;
}
.author-info .widget_g7_social .social-box,
.archive-meta .widget_g7_social .social-box {
	line-height: 14px;
	padding: 7px;
}
.author-info h3,
.related-posts h3 {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}
.related-posts {
	margin-top: 60px;
}
.related-posts ul {
	list-style: none;
	padding: 0;
}
.related-posts h4.block-heading {
	font-size: 13px;
}


/* =Review
-----------------------------------*/

.review {
	border: 1px solid #ddd;
	background-color: #f7f7f7;
	padding: 15px;
	margin-bottom: 20px;
}
.review .row {
	padding-top: 5px;
	padding-bottom: 5px;
}
.review .rating {
	text-align: right;
}
.review .overall {
	margin-top: 10px;
	font-size: 32px;
	background-color: #eee;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.review .summary {
	margin-top: 20px;
}


/* =Content Blocks
-----------------------------------*/

.block {
	margin-bottom: 80px;
}
.block:last-child {
	margin-bottom: 0;
}
.block header {
	position: relative;
	display: block;
	margin-bottom: 30px;
}
.block-title {
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
.block-title a,
.block-title span {
	display: inline-block;
	padding: 8px 49px 8px 12px;
	color: #fff;
	background-color: #e74c3c;
	position: relative;
}
.block-title i {
	position: absolute;
	right: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.1);
	height: 100%;
	padding-top: 12px;
	width: 37px;
	text-align: center;
}
#wrapper .block .block-title a:hover {
	color: #fff;
	background-color: #666;
}
.block-more {
	position: absolute;
	right: 0;
	top: 8px;
}
.col-lg-12 .block-more {
	right: 20px;
}
.block-more > a {
	padding: 5px;
	color: #ddd;
}
.block-more > a:hover {
	color: #e74c3c;
}
.block-more i {
	font-size: 18px;
}
.block ul {
	list-style: none;
	padding: 0;
}
.block-top,
.block-side,
.posts .entry-image {
	overflow: hidden;
	position: relative;
}
.block-top,
.block-1 .block-side,
.posts .entry-image {
	border-bottom: 5px solid #eee;
	transition: all 1s ease 0s;
}
.block-top:hover,
.block-1 .block-side:hover,
.posts .entry-image:hover {
	border-color: #e74c3c;
}
.entry-image .entry-category {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	font-size: 13px;
}
.entry-image .entry-category a {
	display: block;
	color: #fff;
	background-color: #e74c3c;
	padding: 2px 6px;
	opacity: 0.95;
	padding: 3px 10px;
}
.entry-image .entry-category a:hover {
	background-color: #444;
}
.block-top .overlay,
.block-side .overlay,
.posts .entry-image .overlay {
	background-color: rgba(0, 0, 0, 0.4);
	color: #fff;
	font-size: 13px;
	overflow: hidden;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: all 0.5s ease 0s;
	width: 100%;
}
.block-top .overlay:hover,
.block-side .overlay:hover,
.posts .entry-image .overlay:hover {
	opacity: 1;
}
.block-top img,
.block-side img,
.posts .entry-image img {
	transition: all 1s ease 0s;
	width: 100%;
}
.block-top .overlay i,
.block-side .overlay i,
.posts .entry-image i {
	position: absolute;
	font-size: 36px;
	left: 50%;
	top: 50%;
	margin-left: -15px;
	margin-top: -18px;
}
.block-top .overlay i.fa-picture-o,
.block-side .overlay i.fa-picture-o,
.posts .entry-image i.fa-picture-o {
	margin-left: -19px;
}
h3.block-heading,
.posts h2.entry-title {
	font-size: 18px;
	font-weight: 600;
	margin: 0 0 5px;
}
.blog-grid h2.entry-title,
.blog-masonry h2.entry-title {
	font-size: 16px;
}
h4.block-heading {
	font-size: 14px;
	margin-bottom: 5px;
}
.block .post {
	margin-bottom: 20px;
}
.block-heading > a,
.posts .entry-title a {
	color: #444;
}
.block-heading > a:hover,
.posts .entry-title a:hover {
	color: #e74c3c;
}
.block-content,
.posts .entry-main {
	font-size: 13px;
	color: #666;
}
.block-top + .block-content,
.posts .entry-image + .entry-main {
	margin-top: 10px;
}
.block-meta,
.entry-meta {
	font-size: 12px;
	margin-bottom: 10px;
	margin: 0;
}
.block-meta > *,
.entry-meta > * {
	margin-right: 10px;
}
.block-meta i,
.entry-meta i {
	font-size: 14px;
}
.block-meta a,
.entry-meta a {
	color: #bbb;
}
.block-meta a:hover,
.entry-meta a:hover {
	color: #e74c3c;
}
.block-side {
	margin-right: 15px;
	float: left;
	max-width: 70px; /* retina display fix */
}
.block-excerpt,
.posts .entry-content {
	margin-top: 10px;
}

.block-1 .post {
	margin: 0 0 30px;
}
.block-1 .block-side {
	margin-right: 25px;
}
.block-1 .block-heading {
	font-size: 20px;
	font-weight: 400;
}
.block-2 li:nth-child(2n+1) {
	clear: both;
}
.block-3 .post {
	margin: 0 0 20px;
}
.block-3 .block-heading {
	font-size: 13px;
	margin: 6px 0 0;
}
.block-4 > div:nth-child(2n+3) {
	clear: both;
}
.block-4 > div:nth-child(n+3) {
	margin-top: 80px;
}
.block-1 .block-content,
.block-4 .block-content,
.block-5 .block-content {
	overflow: hidden;
}
.block-6 .post {
	border-top: 1px solid #eee;
	margin: 0;
	padding: 15px 0;
	overflow: hidden;
}
.block-6 .post:first-child {
	border-top: none;
	padding-top: 0;
}
.block-6 .block-heading {
	font-size: 18px;
	margin: 0;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.block-6 .block-meta {
	float: right;
	margin: 0;
}
.rating {
	color: #ec8b00;
}


/* =Page
----------------------------------------------- */

.page .posts .entry-image {
	margin-top: 0;
}
.posts article {
	margin-bottom: 30px;
}
h1.page-title {
	font-weight: 300;
	line-height: 1.2;
}
.page-template-page-blog-php .page-title,
.page-template-page-builder-php .page-title {
	text-align: center;
}
.page-template-page-blog-php .page-content,
.page-template-page-builder-php .page-content {
	color: #666;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
}

article.page {
	margin-bottom: 80px;
}
article.page > .entry-content,
article.page > .entry-footer {
	margin-bottom: 40px;
}

.blog-small article {
	margin-bottom: 50px;
}
.blog-small .entry-image {
	margin-right: 30px;
	float: left;
}
.block-1 .block-side,
.blog-small .entry-image {
	max-width: 200px; /* retina display fix */
}
.blog-small .entry-main {
	overflow: hidden;
}
.blog-large h2.entry-title {
	font-size: 26px;
	font-weight: 400;
}
.blog-large article {
	margin-bottom: 80px;
}
.col-md-8 .blog-grid article:nth-child(2n+1) {
	clear: both;
}

.archive-header {
	border-bottom: 1px solid #eee;
	margin-bottom: 40px;
	padding-bottom: 20px;
	font-size: 13px;
}
.archive-meta {
	margin-top: 10px;
	color: #888;
}
.category-feed {
	font-size: 12px;
}
.archive-meta .author-avatar {
	float: left;
	margin-right: 10px;
}
.archive-meta .author-description {
	margin: 0;
}


/* =Pagination
----------------------------------------------- */

.pagination span.current,
.pagination a,
.pagination a:visited {
	padding: 3px 8px;
	margin-right: 5px;
	color: #555;
	background-color: #f3f3f3;
}
.pagination span.current {
	background-color: #e74c3c;
	color: #fff;
}
.pagination a:hover {
	color: #fff;
	background-color: #e74c3c;
}


/* =Widgets
----------------------------------------------- */

#sidebar {
	font-size: 13px;
}
#sidebar > ul,
.widget ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#sidebar.rs > ul {
	margin-left: 20px;
}
#sidebar.ls > ul {
	margin-right: 20px;
}
#sidebar.col-lg-pull-8 > ul {
	margin: 0 40px 0 0;
}
.widgettitle {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 30px;
	border-bottom: 1px solid #eee;
}
.widgettitle span {
	display: inline-block;
	border-bottom: 1px solid #e74c3c;
	margin-bottom: -1px;
	padding-bottom: 10px;
}
#content .widgettitle {
	border-bottom: none;
}
.widget {
	margin-bottom: 60px;
}
#footer-widget .widget {
	margin-bottom: 40px;
}
#wrapper .widget:last-child {
	margin-bottom: 0;
}
.widget ul > li {
	padding: 5px 0;
}
.widget ul > li:first-child {
	border-top: none;
	padding-top: 0;
}
.widget_g7_posts ul > li {
	padding: 10px 0;
}
.widget li > a {
	color: #555;
}
.widget li > a:hover {
	color: #e74c3c;
}

.post1 h4 {
	font-weight: 600;
}
.post2 h4 {
	font-size: 16px;
	font-weight: 600;
}
.widget .block-excerpt {
	color: #888;
}
.block-category {
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 5px;
}

.avatar {
	margin: 2px 7px 0 0;
}
.author-avatar .avatar,
.widget_g7_comments .avatar {
	float: left;
}
.widget_g7_comments li {
	color: #999;
}
.flickr_badge_image {
	float: left;
	margin: 5px 10px 5px 0;
}
.flickr_badge_image img {
	width: 70px;
	height: 70px;
	background: rgba(255, 255, 255, .1);
}
#sidebar .flickr_badge_image img {
	width: 65px;
	height: 65px;
}
.flickr_badge_image img {
	transition: all 0.5s ease;
}
.flickr_badge_image a:hover img {
	opacity: 0.7;
}
.widget_g7_social ul > li {
	margin: 0;
	padding: 0;
}
.widget_g7_social i.fa {
	font-size: 16px;
	width: 16px;
	text-align: center;
	color: #fff;
}
.widget_g7_social span,
.widget_g7_social i {
	transition: all 0.2s linear 0s;
}
.widget_g7_social .social-box {
	display: inline-block;
	opacity: 0.8;
	padding: 10px;
	line-height: 16px;
	vertical-align: middle;
}
.widget_g7_social .rounded .social-box {
	border-radius: 5px;
}
.widget_g7_social .circle .social-box {
	border-radius: 50%;
}
.widget_g7_social .large li {
	font-size: 16px;
}
.widget_g7_social .large .social-box {
	padding: 18px;
}
.widget_g7_social .large i.fa {
	font-size: 32px;
	width: 32px;
}
.widget_g7_social li:hover .social-box {
	opacity: 1;
}
.widget_g7_social .coh li .social-box {
	background-color: #f7f7f7;
}
.widget_g7_social .coh i.fa {
	color: #444;
}
.widget_g7_social .coh li:hover i.fa {
	color: #fff;
}
.widget_g7_social .social-behance:hover a {
	color: #1769ff;
}
.widget_g7_social .social-behance .social-box,
.coh .social-behance:hover .social-box {
	background-color: #1769ff;
}
.widget_g7_social .social-delicious:hover a {
	color: #3274d1;
}
.widget_g7_social .social-delicious .social-box,
.coh .social-delicious:hover .social-box {
	background-color: #3274d1;
}
.widget_g7_social .social-deviantart:hover a {
	color: #4b5d50;
}
.widget_g7_social .social-deviantart .social-box,
.coh .social-deviantart:hover .social-box {
	background-color: #4b5d50;
}
.widget_g7_social .social-digg:hover a {
	color: #14589e;
}
.widget_g7_social .social-digg .social-box,
.coh .social-digg:hover .social-box {
	background-color: #14589e;
}
.widget_g7_social .social-dribbble:hover a {
	color: #ea4c89;
}
.widget_g7_social .social-dribbble .social-box,
.coh .social-dribbble:hover .social-box {
	background-color: #ea4c89;
}
.widget_g7_social .social-facebook:hover a {
	color: #3b5998;
}
.widget_g7_social .social-facebook .social-box,
.coh .social-facebook:hover .social-box {
	background-color: #3b5998;
}
.widget_g7_social .social-flickr:hover a {
	color: #ff0084;
}
.widget_g7_social .social-flickr .social-box,
.coh .social-flickr:hover .social-box {
	background-color: #ff0084;
}
.widget_g7_social .social-foursquare:hover a {
	color: #25a0ca;
}
.widget_g7_social .social-foursquare .social-box,
.coh .social-foursquare:hover .social-box {
	background-color: #25a0ca;
}
.widget_g7_social .social-github:hover a {
	color: #4183c4;
}
.widget_g7_social .social-github .social-box,
.coh .social-github:hover .social-box {
	background-color: #4183c4;
}
.widget_g7_social .social-google:hover a {
	color: #db4a39;
}
.widget_g7_social .social-google .social-box,
.coh .social-google:hover .social-box {
	background-color: #db4a39;
}
.widget_g7_social .social-instagram:hover a {
	color: #3f729b;
}
.widget_g7_social .social-instagram .social-box,
.coh .social-instagram:hover .social-box {
	background-color: #3f729b;
}
.widget_g7_social .social-linkedin:hover a {
	color: #0e76a8;
}
.widget_g7_social .social-linkedin .social-box,
.coh .social-linkedin:hover .social-box {
	background-color: #0e76a8;
}
.widget_g7_social .social-mail:hover a {
	color: #444;
}
.widget_g7_social .social-mail .social-box,
.coh .social-mail:hover .social-box {
	background-color: #444;
}
.widget_g7_social .social-pinterest:hover a {
	color: #c8232c;
}
.widget_g7_social .social-pinterest .social-box,
.coh .social-pinterest:hover .social-box {
	background-color: #c8232c;
}
.widget_g7_social .social-rss:hover a {
	color: #ee802f;
}
.widget_g7_social .social-rss .social-box,
.coh .social-rss:hover .social-box {
	background-color: #ee802f;
}
.widget_g7_social .social-skype:hover a {
	color: #00aff0;
}
.widget_g7_social .social-skype .social-box,
.coh .social-skype:hover .social-box {
	background-color: #00aff0;
}
.widget_g7_social .social-soundcloud:hover a {
	color: #ff6600;
}
.widget_g7_social .social-soundcloud .social-box,
.coh .social-soundcloud:hover .social-box {
	background-color: #ff6600;
}
.widget_g7_social .social-spotify:hover a {
	color: #80b719;
}
.widget_g7_social .social-spotify .social-box,
.coh .social-spotify:hover .social-box {
	background-color: #80b719;
}
.widget_g7_social .social-stumbleupon:hover a {
	color: #eb4924;
}
.widget_g7_social .social-stumbleupon .social-box,
.coh .social-stumbleupon:hover .social-box {
	background-color: #eb4924;
}
.widget_g7_social .social-tumblr:hover a {
	color: #34526f;
}
.widget_g7_social .social-tumblr .social-box,
.coh .social-tumblr:hover .social-box {
	background-color: #34526f;
}
.widget_g7_social .social-twitter:hover a {
	color: #00a0d1;
}
.widget_g7_social .social-twitter .social-box,
.coh .social-twitter:hover .social-box {
	background-color: #00a0d1;
}
.widget_g7_social .social-vimeo:hover a {
	color: #aad450;
}
.widget_g7_social .social-vimeo .social-box,
.coh .social-vimeo:hover .social-box {
	background-color: #aad450;
}
.widget_g7_social .social-vk:hover a {
	color: #45668e;
}
.widget_g7_social .social-vk .social-box,
.coh .social-vk:hover .social-box {
	background-color: #45668e;
}
.widget_g7_social .social-wordpress:hover a {
	color: #21759b;
}
.widget_g7_social .social-wordpress .social-box,
.coh .social-wordpress:hover .social-box {
	background-color: #21759b;
}
.widget_g7_social .social-yahoo:hover a {
	color: #731a8b;
}
.widget_g7_social .social-yahoo .social-box,
.coh .social-yahoo:hover .social-box {
	background-color: #731a8b;
}
.widget_g7_social .social-youtube:hover a {
	color: #c4302b;
}
.widget_g7_social .social-youtube .social-box,
.coh .social-youtube:hover .social-box {
	background-color: #c4302b;
}

.widget_g7_social ul.horizontal > li {
	float: left;
	margin: 0 5px 5px 0;
}
.widget_g7_social ul.vertical > li {
	margin-bottom: 10px;
}
.widget_g7_social ul.vertical > li a {
	display: block;
}
.widget_g7_social ul.vertical .social-box {
	margin-right: 10px;
}
.widget_g7_social li a,
.widget_g7_subpages li a {
	color: #555;
}
.widget .video-desc {
	color: #777;
}

.widget_nav_menu li.current-menu-item > a,
.widget_pages li.current_page_item > a,
.widget_g7_subpages li.current_page_item > a {
	font-weight: bold;
}
.widget_g7_facebook iframe {
	width: 100% !important;
}
.widget ul.sub-menu,
.widget ul.children {
	margin: 10px 0 0 20px;
	font-size: 100%;
}
.widget_rss a.rsswidget {
	font-weight: bold;
}
.widget_rss a.rsswidget:hover {
	color: #555;
}
a.rsswidget img {
	vertical-align: baseline;
}
.widget_rss span.rss-date {
	color: #aaa;
	font-size: 12px;
	display: block;
}
.widget_rss .rssSummary {
	color: #666;
}
.widget_rss cite {
	font-size: 12px;
	font-style: italic;
	color: #888;
}
.recentcomments {
	color: #aaa;
}
.widget_archive li {
	color: #aaa;
}
.widget_links li {
	color: #bbb;
}
#sidebar > ul > li:first-child.widget_search {
	margin-bottom: 30px;
}
.searchform {
}
input.s {
	border-width: 2px;
	padding: 7px;
	padding-right: 47px;
	float: left;
	margin-right: -40px;
	line-height: 18px;
	height: 36px;
}
.widget input.s {
	width: 100%;
}
.searchsubmit {
	padding: 9px 12px;
	color: #fff;
	background-color: #e74c3c;
	border: none;
	float: left;
	width: 40px;
	line-height: 18px;
}
.searchsubmit:hover {
	opacity: 0.9;
}
.widget_g7_ads125 img {
	margin: 10px;
	width: 125px;
}
span.post-date {
	color: #aaa;
	font-size: 12px;
	display: block;
}


/* =Comments
----------------------------------------------- */

#comments, #disqus_thread {
	margin-top: 80px;
}
.nocomments {
	color: #999;
}
#comments-title {
	color: #444;
}
.commentlist, .commentlist ul {
	list-style: none;
	padding: 0;
}
.commentlist {
	border-bottom: 1px solid #eee;
}
.commentlist li {
	background: #fff;
}
.commentlist article {
	padding: 15px 0;
}
.commentlist .comment-avatar {

}
.commentlist .comment-avatar img {
	float: left;
	padding: 3px;
	border: 1px solid #f7f7f7;
}
.commentlist .comment-content {
	margin-left: 60px;
}
.commentlist footer {
	color: #7e7e7e;
	margin-bottom: 5px;
}
.commentlist span.fn {
	font-weight: bold;
}
.commentlist .comment-awaiting-moderation {
	font-size: 13px;
	color: #999;
}
.commentlist .edit-link {
	font-size: 13px;
}
.commentlist .comment-reply-link {
	font-size: 13px;
}
.commentlist li.comment {
	border-top: 1px solid #eee;
}
.commentlist li.comment ul.children {
	margin: 0 0 0 60px;
}
.comment-content footer time {
	color: #bbb;
	margin: 0 5px;
}
.bypostauthor > article {
	padding: 15px;
	border-left: 3px solid #ddd;
	background-color: #f7f7f7;
}
.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
#access a.assistive-text:active,
#access a.assistive-text:focus {
	background: #eee;
	border-bottom: 1px solid #ddd;
	color: #1982d1;
	clip: auto !important;
	font-size: 12px;
	position: absolute;
	text-decoration: underline;
	top: 0;
	left: 7.6%;
}


/* =Comment Form
----------------------------------------------- */

#respond {
	margin-top: 40px;
}
#commentform {
	margin: 0;
}
.commentlist #respond {
	margin: 0 0 0 60px;
	border-top: 1px solid #eee;
	padding: 20px 0;
}
#respond p label {
	color: #777;
	padding-left: 2px;
	line-height: 2.2em;
	display: inline;
}
#respond input[type="text"],
#respond textarea {
	border: 1px solid #e7e7e7;
	margin-bottom: 0;
}
#respond input[type=text] {
	display: block;
	width: 60%;
}
#respond textarea {
	resize: vertical;
	width: 95%;
}
#respond .comment-notes,
#respond .logged-in-as {
	color: #999;
}
#respond p {
	margin: 10px 0;
}
#respond p.form-submit {
	margin: 0;
}
#respond input#submit {
	padding: 10px 15px;
	font-size: 14px;
	margin: 0;
}
#respond #cancel-comment-reply-link {
	color: #666;
	margin-left: 10px;
	font-size: 10px;
	text-transform: uppercase;
}
#respond .logged-in-as a:hover,
#respond #cancel-comment-reply-link:hover {
	text-decoration: underline;
}
.form-allowed-tags,
.form-allowed-tags code {
	color: #777;
	font-size: 11px;
}


/* =Contact
-----------------------------------*/

#g7-contact-name,
#g7-contact-email {
	width: 250px;
}
#g7-contact-message {
	resize: vertical;
	width: 95%;
}
.widget_g7_contact .text-input,
.widget_g7_contact textarea {
	width: 100%;
    padding: 7px;
}
.widget_g7_contact img.loading {
	display: none;
	margin-left: 10px;
	vertical-align: middle;
}
.widget_g7_contact input,
.widget_g7_contact textarea {
	margin-bottom: 10px;
}
.widget_g7_contact input.err,
.widget_g7_contact textarea.err {
	border-color: #FC9B9B;
	background: #FFD3D3;
	color: #777;
}
.widget_g7_contact p {
	margin: 0;
}
.contact-us {
	padding-top: 5px;
}
.contact_h {
	display: none;
}
.contact-form {
	margin-top: 40px;
}
.g7-msg {
	color: #444;
	border: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 20px 10px 20px 40px;
	border-radius: 3px;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
	cursor: pointer;
}
.g7-msg h3 {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #555;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
.g7-success {
	border-color: #d3e5ad;
	background-color: #faffea;
}
.g7-error {
	border-color: #f2bda3;
	background-color: #fce8e0;
}


/* =Gallery
-----------------------------------*/

#wrapper .gallery img {
	height: auto;
	border: 1px solid #eee;
	padding: 5px;
	transition: all 0.2s linear 0s;
}
#wrapper .gallery a:hover img {
	border-color: #ccc;
	opacity: 0.9;
}
#wrapper .gallery .gallery-caption {
	margin: 5px 0;
	padding: 0 10px;
}


/* =Buttons
-----------------------------------*/

.btn,
input[type="reset"],
input[type="submit"],
#submit {
	cursor: pointer;
	display: inline-block;
	padding: 5px 12px 8px;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	border: none;
	background-color: #e74c3c;
	box-shadow:
		1px 1px 1px rgba(0, 0, 0, 0.03),
		0 2px 0 rgba(255, 255, 255, 0.2) inset,
		0 0 1px rgba(0, 0, 0, 0.5) inset,
		0 -4px 0 rgba(0, 0, 0, 0.1) inset;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
	background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
	border-radius: 2px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
	transition: all 0.2s linear 0s;
}
#submit {
	font-size: 16px;
	padding: 10px 12px;
}
.btn:hover,
.btn:focus,
#submit:hover {
	color: #fff;
	background-color: #444;
}
.btn-lg {
	padding: 12px 18px;
	font-size: 16px;
	font-weight: bold;
}
.btn.readmore {
	font-weight: 400;
	font-size: 13px;
	padding: 3px 9px;
	border: 1px solid #eee;
	background-color: #f5f5f5;
	color: #777;
	margin-top: 15px;
	box-shadow: none;
	text-shadow: none;
}
.btn.readmore:hover {
	border-color: #e74c3c;
	background-color: #e74c3c;
	color: #fff;
}
#wrapper .entry-image .entry-category a:hover,
#wrapper article a.readmore:hover {
	color: #fff;
}



/* =Media Queries
-----------------------------------*/

@media (max-width: 479px) {
	[class*="col-"] {
		width: 100%;
	}
	.block-1 .block-side,
	.blog-small .entry-image {
		float: none;
		margin-bottom: 10px;
	}
	.related-posts .block-top {
		max-width: 200px;
	}
	.review .rating {
		text-align: left;
	}
}

/* xs */
@media (min-width: 480px) and (max-width: 767px) {
	.block-top {
		max-width: 480px;
	}
	.blog-grid .entry-image,
	.blog-masonry .entry-image {
		max-width: 480px;
	}
	.block-3 li:nth-child(3n+1) {
		clear: both;
	}
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	.boxed #wrapper {
		width: 800px;
	}
	.blog-grid .col-sm-3:nth-child(4n+1),
	.blog-grid .col-sm-4:nth-child(3n+1),
	.blog-grid .col-sm-6:nth-child(2n+1) {
		clear: both;
	}
	.block-2 li:nth-child(2n+1) {
		clear: both;
	}
	.block-3 li:nth-child(4n+1) {
		clear: both;
	}
	.flexslider .post h2 {
		font-size: 22px;
	}
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	.boxed #wrapper {
		width: 1020px;
	}
	.blog-grid .col-md-3:nth-child(4n+1),
	.blog-grid .col-md-4:nth-child(3n+1),
	.blog-grid .col-md-6:nth-child(2n+1) {
		clear: both;
	}
	.block-3 li:nth-child(3n+1) {
		clear: both;
	}
	#mainmenu > li {
		margin-right: 5px;
	}
	#mainmenu > li > a {
		padding: 0 15px;
	}
	#mainmenu ul a {
		padding-left: 15px;
		padding-right: 20px;
	}
	#mainmenu ul i.fa {
		right: 15px;
	}
}

/* lg */
@media (min-width: 1200px) {
	.container {
		max-width: 1080px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.row,
	.row .row {
		margin-right: -20px;
		margin-left: -20px;
	}
	[class*="col-"] {
		padding-left: 20px;
		padding-right: 20px;
	}
	.boxed #wrapper {
		width: 1170px;
	}
	.blog-grid .col-lg-3:nth-child(4n+1),
	.blog-grid .col-lg-4:nth-child(3n+1),
	.blog-grid .col-lg-6:nth-child(2n+1) {
		clear: both;
	}
	.block-3 li:nth-child(4n+1) {
		clear: both;
	}
	.review {
		padding: 20px;
	}
}

@media (max-width: 767px) {
	.block-3 .block-top {
		max-width: 200px;
	}
	.flexslider .post h2 {
		font-size: 18px;
	}
	#bottom .footer1 {
		margin-bottom: 10px;
	}
	#bottom .footer1,
	#bottom .footer2 {
		text-align: center;
	}
	.boxed #wrapper {
		width: auto;
		margin-top: 0;
		margin-bottom: 0;
	}
	.nav-previous,
	.nav-next {
		width: 100%;
	}
	.nav-next {
		margin-top: 30px;
	}
}

@media (max-width: 991px) {
	#sidebar {
		margin-top: 60px;
	}
	#wrapper #sidebar > ul {
		margin: 0;
	}
	.widget .block-top {
		max-width: 300px;
	}
	#footer-widget .widget:last-child {
		margin-bottom: 40px;
	}
	#mainmenu {
		display: none;
	}
	.mainmenu {
		display: block;
		width: 100%;
	}
}

pre{
    background: #fafafa;
    border: 1px solid #eaeaea;
    padding: 10px;
}

#site-title span {
    font-weight: 400;
}

#mainmenu > li.current-menu-item > a{
	background-color: #fff !important;
	border-bottom: 1px solid #e74c3c;
}

#mainmenu > li.menu-item > a:hover{
	background-color: #fff !important;
	color: black !important;
}

.g7-highlight {
	border-radius: 4px;
	color: #333;
	padding: 0 4px;
}

.navbar-brand small{
	font-size: 9px;
	padding: 0px 5px;
}

.navbar-fixed-top{
	border-width: 0 0 0px;
}

/************ Stories Styles ****************/

#stories-header {
	width: 90%;
	max-width: 1600px;
	margin: 0 auto;
}
#stories-header h2 {
	margin: 0;
	margin-top: 20px;
}
#stories-header p {
	margin: 0;
}

@-webkit-keyframes footerSlide {
	0% {
		-webkit-transform: translate3d(0, 300px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
	}
}@keyframes footerSlide {
	 0% {
		 -webkit-transform: translateY(300px);
		 transform: translateY(300px);
	 }
	 100% {
		 -webkit-transform: translateY(0);
		 transform: translateY(0);
	 }
 }.highContrastFix {
	  -ms-high-contrast-adjust: none;
  }
figure {
	-ms-high-contrast-adjust: none;
}

#hero {
	position: relative;
	width: 100%;
	height: 840px;
	overflow: hidden;
	-webkit-transition: height 200ms ease-out;
	transition: height 200ms ease-out;
	max-width: 1600px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
#hero a.inner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	cursor: pointer;
	display: block;
	background-color: #CFCFCF;
}
#hero a.inner footer {
	-webkit-transform: translateZ(0);
	position: absolute;
	width: 100%;
	background: #111;
	background: rgba(15, 15, 15, 0.78);
	bottom: -2px;
	color: #fff;
}
#hero a.inner footer figcaption {
	padding: 20px 20px 24px 20px;
}
#hero a.inner footer figcaption p {
	line-height: 1.3em;
	font-size: 16px;
	color: #FFF;
	padding-top: 6px;
}
#hero a.inner footer figcaption h2 {
	font-weight: normal;
	font-size: 1.4em;
}
#hero a.inner footer figcaption h2, #hero a.inner footer figcaption p {
	line-height: 1.4em;
	margin: 0;
}
#hero a.inner figure {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: 50% 15%;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 300ms ease-out;
	-webkit-transition: all 300ms ease-out;
	-webkit-transform: translateZ(0);
}
#hero a.inner:hover figure {
	-webkit-transition: -webkit-transform 600ms ease-out, box-shadow 150ms ease-out;
	-webkit-transition: box-shadow 150ms ease-out, -webkit-transform 600ms ease-out;
	transition: box-shadow 150ms ease-out, -webkit-transform 600ms ease-out;
	transition: transform 600ms ease-out, box-shadow 150ms ease-out;
	transition: transform 600ms ease-out, box-shadow 150ms ease-out, -webkit-transform 600ms ease-out;
	-webkit-transform: scale(1.04);
	transform: scale(1.04);
}
#hero a.inner:hover span.arrow {
	-webkit-transform: translateX(10px);
	transform: translateX(10px);
}
#hero a.inner:active figure {
	box-shadow: inset 0 0 40px #000;
}
#hero div.col {
	position: absolute;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#hero div.col.one {
	width: 50%}
#hero div.col.two {
	width: 25%;
	left: 50%}
#hero div.col.three {
	width: 25%;
	left: 75%}
#hero-one {
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 0;
	right: 5px;
}
#hero-one a.inner footer {
	bottom: 50px;
	background: transparent;
}
#hero-one aside {
	padding: 41px 40px;
	position: relative;
	display: inline-block;
	color: #fff;
}
#hero-one aside h2 {
	font-size: 2.1em;
	margin: 0;
	padding: 0;
	line-height: 1em;
}
#hero-one aside h3 {
	max-width: 170px;
	font-size: 1.2em;
	margin: 0;
	margin-top: 9px;
	margin-bottom: 19px;
	font-weight: normal;
}
#hero-one aside.inside {
	/*max-width: 175px;*/
}
#hero-one aside.outside {
	max-width: 440px;
	position: absolute;
	padding: 0;
	padding-left: 40px;
	height: 100%;
	right: 0;
	left: 240px;
	top: 0;
}
#hero-one aside.outside.single {
	left: 0;
	bottom: 0;
	top: auto;
	height: auto;
}
#hero-one aside.outside h2 {
	width: 100%;
	font-size: 2.2em;
	margin-bottom: 10px;
	line-height: 1.1em;
}
#hero-one aside.outside div.table {
	position: relative;
	display: table;
	height: 100%}
#hero-one aside.outside div.table-cell {
	height: 100px;
	display: table-cell;
	vertical-align: middle;
	padding-right: 30px;
}
#hero-one aside.outside div.read-more {
	padding-right: 36px;
	color: #fff;
	font-size: 1.3em;
	position: relative;
	display: inline-block;
}
#hero-one aside.outside div.read-more span.arrow {
	display: block;
	width: 23px;
	height: 23px;
	position: absolute;
	right: 0;
	top: 5px;
	-ms-high-contrast-adjust: none;
	transition: all 200ms ease-out;
	-webkit-transition: all 200ms ease-out;
}
#hero-two {
	position: absolute;
	top: 10px;
	left: 5px;
	right: 5px;
	bottom: 45%}
#hero-two a.inner {
	bottom: 5px;
}
#hero-three {
	position: absolute;
	bottom: 10px;
	left: 5px;
	right: 5px;
	top: 55%}
#hero-three a.inner {
	top: 5px;
}
#hero-four {
	position: absolute;
	top: 10px;
	left: 5px;
	right: 0;
	bottom: 60%}
#hero-four a.inner {
	bottom: 5px;
}
#hero-five {
	position: absolute;
	bottom: 10px;
	left: 5px;
	right: 0;
	top: 40%}
#hero-five a.inner {
	top: 5px;
}
#hero-two a.inner footer {
	-webkit-animation: footerSlide 400ms 0 ease-out normal;
	animation: footerSlide 400ms 0 ease-out normal;
}
#hero-three a.inner footer {
	-webkit-animation: footerSlide 400ms 0.1s ease-out backwards;
	animation: footerSlide 400ms 0.1s ease-out backwards;
}
#hero-four a.inner footer {
	-webkit-animation: footerSlide 400ms 0.2s ease-out backwards;
	animation: footerSlide 400ms 0.2s ease-out backwards;
}
#hero-five a.inner footer {
	-webkit-animation: footerSlide 400ms 0.3s ease-out backwards;
	animation: footerSlide 400ms 0.3s ease-out backwards;
}
#main {
	max-width: 1600px;
	margin: 0 auto;
}
#main ul {
	list-style: none;
	margin: 0;
	margin-left: 0;
	padding: 0;
	margin-top: 12px;
	padding-bottom: 50px;
	font-size: 0;
}
#main li {
	box-sizing: border-box;
	position: relative;
	width: 33.333%;
	height: 450px;
	margin: 0;
	padding: 0;
	transition: all 200ms ease-out;
	-webkit-transition: all 200ms ease-out;
	cursor: pointer;
	display: inline-block;
	background: transparent;
	-webkit-transform: translateZ(0);
	overflow: hidden;
}
#main li.br {
	border-right: 1px solid #d0d0d0;
	z-index: 8;
}
#main li.bt {
	border-top: 1px solid #d0d0d0;
}
#main li:active {
	box-shadow: inset 0 0 20px #C5C5C5;
}
#main li:hover {
	background: #f7f7f7;
}
#main li a {
	display: block;
	color: #333;
	position: absolute;
	padding: 40px;
	height: 100%;
	left: 0;
	right: 0;
}
#main li header {
	position: relative;
	height: 196px;
	background: #ccc;
	background-repeat: no-repeat;
	background-position: 50% 30%;
	background-size: cover;
	-ms-high-contrast-adjust: none;
}
#main li header.vid:hover:after {
	border: 6px solid #333;
}
#main li header.vid:after {
	content: '';
	width: 70px;
	height: 70px;
	background: #0e0e0e;
	border: 6px solid #151515;
	top: 50%;
	position: absolute;
	left: 50%;
	margin-top: -35px;
	margin-left: -35px;
	border-radius: 60px;
	transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
	-ms-high-contrast-adjust: none;
}
#main li header h4 {
	font-size: 14px;
	position: absolute;
	padding: 10px 20px;
	color: #fff;
	bottom: 0;
	left: -18px;
	background: #000;
	background: rgba(0, 0, 0, 0.9);
	font-weight: normal;
}
#main li footer {
	position: relative;
	text-align: left;
}
#main li footer h2 {
	font-size: 22px;
	position: relative;
	margin-top: 8px;
	margin-bottom: 4px;
}
#main li footer p {
	color: #888;
	margin: 0;
	padding: 0;
	position: relative;
	font-size: 14px;
}
#footer {
	min-height: 100px;
	height: 100%;
	border-top: 1px solid #ddd;
	position: relative;
	background: #fafafa;
	z-index: 1;
}
#footer ul {
	font-size: 0.8em;
	list-style: none;
	color: #A5A5A5;
	text-align: right;
	margin-top: 43px;
	margin-right: 40px;
}
#footer li {
	display: inline-block;
	margin: 0 5px;
}
#footer li a:hover {
	border-bottom: 1px solid #999;
}
#footer li a, #footer li a:visited, #footer li a:active {
	color: #A5A5A5;
}
#footer div.external {
	position: absolute;
	left: 33px;
	top: 33px;
	text-align: left;
}
#footer div.external a.btn {
	margin-top: 4px;
	margin-left: 10px;
}
#up-arrow {
	display: block;
	z-index: 8;
	cursor: pointer;
	width: 53px;
	height: 52px;
	border-radius: 30px;
	position: absolute;
	right: 80px;
	top: -25px;
	margin-left: -26px;
	overflow: hidden;
	-ms-high-contrast-adjust: none;
}
#up-arrow:hover div.arrow {
	background-position: 1px -53px;
}
#up-arrow div.arrow {
	background-color: #fafafa;
	display: block;
	width: 100%;
	height: 100%;
	transition: all 200ms ease-out;
	-webkit-transition: all 200ms ease-out;
	-ms-high-contrast-adjust: none;
}
@media only screen and (max-height:768px) and (min-width:560px) and (min-device-width:1280px) {
	#hero {
		height: 630px;
	}
}@media only screen and (max-width:360px) {
	#hero a.inner footer figcaption {
		padding-top: 15px;
	}
	#hero a.inner footer figcaption p {
		padding-top: 0;
	}
	#hero a.inner footer figcaption h2 {
		line-height: 1.2em;
	}
}@media only screen and (max-width:1245px) {
	#hero-one aside {
		font-size: 0.82em;
		padding: 31px 30px;
	}
	#hero-one aside.outside {
		left: 220px;
	}
	#hero-one aside.outside div.read-more span.arrow {
		top: 0;
	}
}@media only screen and (max-width:1160px) {
	#hero-one aside.outside {
		padding-left: 25px;
		right: -160px;
	}
	#hero-one aside.outside, #hero-one aside.inside {
		-webkit-transform: translateX(-200px);
		transform: translateX(-200px);
	}
	#hero-one aside.outside.single {
		right: auto;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	#main li header {
		height: 166px;
	}
}@media only screen and (max-width:1440px) {
	#hero {
		height: 700px;
	}
}@media only screen and (max-width:940px) {
	#ms-logo {
		left: -5px;
		width: 60px;
	}
	#page-title {
		left: 78px;
	}
	#hero {
		height: 520px;
	}
	#hero a.inner footer {
		top: 0;
		font-size: 1.2em;
		background: rgba(0, 0, 0, 0.8);
	}
	#hero-one aside.outside h2 {
		font-size: 2em;
	}
	#hero-one aside.outside div.read-more span.arrow {
		top: 4px;
	}
	#hero-one a.inner footer {
		top: auto;
		background: transparent;
	}
	#hero-two a.inner footer {
		background: rgba(13, 77, 124, 0.68);
	}
	#hero-three a.inner footer {
		background: rgba(31, 42, 87, 0.7);
	}
	#hero-four a.inner footer {
		background: rgba(79, 109, 89, 0.77);
	}
	#hero-five a.inner footer {
		background: rgba(98, 47, 105, 0.8);
	}
	#main li {
		width: 50%;
		border-top: 1px solid #d0d0d0;
		height: 370px;
	}
	#main li a {
		padding: 30px;
	}
	#main li:nth-child(odd) {
		border-right: 1px solid #d0d0d0;
	}
	#main li:nth-child(even) {
		border-right: none;
	}
	#main li:nth-child(1) {
		border-top: none;
	}
	#main li:nth-child(2) {
		border-top: none;
	}
	#footer div.external {
		padding-bottom: 10px;
		position: relative;
		text-align: center;
		left: auto;
	}
	#footer ul {
		text-align: center;
		padding-bottom: 10px;
	}
	#up-arrow {
		right: 50%;
		margin-right: -26px;
	}
}@media only screen and (max-width:767px) {
	#hero {
		height: 903px;
	}
	#hero div.col {
		position: relative;
		width: 100%!important;
		left: 0!important;
		right: 0!important;
		height: auto;
	}
	#hero div.col.one {
		height: 370px;
		width: 100%}
	#hero-one {
		bottom: 0;
		right: 0;
		left: 0;
	}
	#hero-one a.inner footer {
		bottom: 0;
		width: 100%}
	#hero-one aside.inside {
		display: none;
	}
	#hero-one aside.outside {
		padding-left: 20px;
		position: relative;
		top: auto;
		margin-bottom: 20px;
		width: auto;
		left: 0;
		right: 0;
	}
	#hero-one aside.outside h2 {
		font-size: 1.7em;
	}
	#hero-one aside.inside, #hero-one aside.outside {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	#hero-two, #hero-three, #hero-four, #hero-five {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		height: 130px;
	}
	#hero-two a.inner, #hero-three a.inner, #hero-four a.inner, #hero-five a.inner {
		bottom: 0;
		top: 5px;
	}
	#page-title {
		left: 187px;
	}
	#page-title h2 {
		margin-top: 9px;
	}
	#ms-logo {
		width: 191px;
	}
	#main ul {
		width: 100%;
		margin-left: 0;
		overflow: hidden;
	}
	#main li {
		width: 100%;
		border-top: 1px solid #d0d0d0;
		height: 370px;
		border-right: none!important;
	}
	#main li:nth-child(2) {
		border-top: 1px solid #d0d0d0;
	}
	#main li a {
		padding: 15px;
	}
	#main li header {
		height: 215px;
	}
	#header div.external, #page-title span {
		display: none;
	}
	#footer ul {
		height: 50px;
		text-align: center;
		padding: 0;
		margin-top: 40px;
		margin-right: 0;
		clear: both;
	}
}.lt-ie9 #hero a.inner footer {
	 background: #333;
 }
.lt-ie9 #hero #hero-one a.inner footer {
	bottom: 50px;
	background: transparent;
}
.lt-ie9 #main li header h4 {
	background: #222;
}
.lt-ie9 #hero-one aside.outside {
	padding-left: 25px;
	left: 20px;
}
.lt-ie9 #hero-one aside.inside {
	width: 20px;
	padding: 0;
	height: 214px;
}
.lt-ie9 #hero-one aside.inside h3 {
	display: none;
}
.lt-ie9 #hero-one aside.inside h2 {
	display: none;
}
.lt-ie9 #main li header {
	height: 166px;
}
@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min--moz-device-pixel-ratio:2), only screen and (min-device-pixel-ratio:2), only screen and (min-resolution:192dpi), only screen and (min-resolution:2dppx) {
	#up-arrow {
		top: -24px;
	}
}@media only screen and (min-width:1800px) {
	#main li header {
		height: 246px;
	}
	#hero {
		height: 940px;
	}
}@media only screen and (max-width:320px) {
	#main li header {
		height: 166px;
	}
	#main li header h4 {
		bottom: -9px;
		left: -10px;
	}
}@media only screen and (min-device-width:320px) and (max-device-width:568px) and (orientation:landscape) {
	#header {
		height: 54px;
	}
	#page-title {
		font-size: 0.8em;
		margin-top: 7px;
		height: 42px;
		left: 147px;
	}
	#ms-logo {
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
		top: -8px;
		left: -20px;
		width: 191px;
	}
	#header div.external {
		display: block!important;
		top: 4px;
	}
}.hidden {
	 display: none!important;
	 visibility: hidden;
 }
.clearfix {
	*zoom: 1;
}
.clearfix:after {
	clear: both;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.grad:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
}

.post-card{
	border: 1px solid #d0d0d0;
	background: #ebebeb;
	height: 450px;
	box-sizing: border-box;
	position: relative;
	margin: 0;
	padding: 0;
	transition: all 200ms ease-out;
	-webkit-transition: all 200ms ease-out;
	cursor: pointer;
	display: inline-block;
	-webkit-transform: translateZ(0);
	overflow: hidden;
}
}
.post-card:hover{
	background: #f7f7f7;
}
.post-card a{
	display: block;
	color: #333;
	position: absolute;
	padding: 40px;
	height: 100%;
	left: 0;
	right: 0;
}
.post-card a:hover{
	background: #f7f7f7;
}
.post-card header{
	position: relative;
	height: 196px;
	background: #ccc;
	background-repeat: no-repeat;
	background-position: 50% 30%;
	background-size: cover;
}

.post-card header h4{
	font-size: 14px;
	position: absolute;
	padding: 10px 20px;
	color: #fff;
	bottom: 0;
	left: -18px;
	background: #000;
	background: rgba(0,0,0,0.9);
	font-weight: normal;
}


.navbar-nav>li>a {
	line-height: 38px;
}

.navbar-brand {
	line-height:35px;
	height: auto;
}

.navbar{
	border: none;
}